<div class="grid-fundamentos">
    <button mat-raised-button color="primary" (click)="selecionarFundamento('Saque')">Saque</button>
    <button mat-raised-button color="accent" (click)="selecionarFundamento('Passe')">Passe</button>
    <button mat-raised-button color="warn" (click)="selecionarFundamento('Levantamento')">Levantamento</button>
    <button mat-raised-button color="primary" (click)="selecionarFundamento('Ataque')">Ataque</button>
    <button mat-raised-button color="accent" (click)="selecionarFundamento('Bloqueio')">Bloqueio</button>
    <button mat-raised-button color="warn" (click)="selecionarFundamento('Defesa')">Defesa</button>
    <button mat-raised-button color="primary" (click)="selecionarFundamento('Cobertura')">Cobertura</button>
    <button mat-raised-button color="accent" (click)="selecionarFundamento('Erro')">Erro</button>
  </div>
  